<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.example.settings"
        version="0.7.0">

  <name>Settings</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/settings.js" target="js/settings.js"/>

  <js-module src="www/settings.js" name="settings">
    <clobbers target="settings" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Settings">
        <param name="android-package" value="com.example.plugin.Settings"/>
      </feature>
    </config-file>

    <source-file src="src/android/Settings.java" target-dir="src/com/example/plugin/"/>
  </platform>


</plugin>